@charset "utf-8";
* {
    font-family: "Microsoft Yahei", Arial;
 }
 div, p, b, span, ul, li, ol, s, img, body {
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: #F1F2F7;
}
.topdiv{
	width: 100%;
	min-width: 1080px;
	height: 120px;
	background-color: #477BC7;
}
.logo{
	float: left;
	margin-top: 28px;
	margin-left: 20px;
}
.logo_title{
	width: 390px;
    color: #ffffff;
    float: left;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 35px;
}
.input-group{
    float: left;
    width: 300px;
    margin-top: 45px;
}
.logo_title .en{
	font-size: 18px;
}
.logo_title span{
	display: block;
}
.user{
	width: 202px;
    float: right;
    background-color: #5383D5;
    color: #ffffff;
    font-size: 18px;
    height: 55px;
    line-height: 55px;
    margin-top: 35px;
    margin-right: 20px;
    padding-left: 10px;
}
#user{
    display: inline-block;
    width: 90px;
}
#back{
    cursor: pointer;
}
#leftdiv{
	float: left;
    width: 206px;
	width: 200px;
    height: 856px !important;
    background-color: #5692F2;
}
#leftdiv a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
}
#content{
	float: left;
	height: 856px !important;
}