@charset "utf-8";
* {
    font-family: "Microsoft Yahei", Arial;
}
*{
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div, p, b, span, ul, li, ol, s, img, body {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family:verdana,helvetica,arial,sans-serif;
    padding:20px;
    font-size:12px;
    margin:0;
}
/*.easyui-panel{*/
    /*width:500px;*/
/*}*/